
/* 
- Thank you for using Colors Palette Visualizer ❤️.
- Exported from: https://colors-visualizer.vercel.app/0085ff-69b4ff-FFFFFF-006fff-1E1E1E-e0ffff
- Palette: #0085ff-#69b4ff-#FFFFFF-#006fff-#1E1E1E-#e0ffff
- Share link https://colors-visualizer.vercel.app/0085ff-69b4ff-FFFFFF-006fff-1E1E1E-e0ffff
*/

:root {
  --primary:#0085ff;
  --secondary:#69b4ff;
  --text:#FFFFFF;
  --accent:#006fff;
  --bg:#1E1E1E;
  --defaultColor:#e0ffff;;
}
body { background-color: var(--bg); }

h1,h2,h3,h4,h5,h6 { color: var(--text); }

p { color: var(--text); }

span { color: var(--accent); }

button {
  background-color: var(--primary);
  color: var(--text);
}
